header {
  position: relative;
  width: 100%;
  padding: 35px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  z-index: 101;
  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.10);
  
}
.header-wrapper {
  width: 100%;
  display: flex;
 
  align-items: center;
  gap: 20px;
}
.logo {
  font-size: 32px;
  // margin-right: 140px;
  text-align: left;
  color: var(--text-color-main);
  outline: none;
  &.centered{
    margin: 0 auto;
  }
}

.highlight-logo {
  font-weight: 900;
}

.page-heading {
  font-size: 50px;
  color: var(--text-color-main);
  font-weight: 700;
  line-height: 100%;
  margin: 0 auto;
}
.input-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  & > input {
    flex-grow: 1;
    background-color: #f5f5f5;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
    font-size: 18px;
    padding: 20px 20px 20px 60px;
  }
}
.search-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.clear-input-button-wrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.on-header-cart-link.on-header-cart-link{
  margin-right: 0;
  margin-left: auto;
  // background-color: #000;
  color: #000000;
}