@import "./styles/header";
@import "./styles/products";
@import "./styles/categories";
@import "./styles/footer";
@import "./styles/searchlist";
@import "./styles/idle";
@import "./styles/track";

@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;

  font-style: normal;
}
@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  /* Bold weight */
  font-style: normal;
  /* Normal style */
}
@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  /* Bold weight */
  font-style: normal;
  /* Normal style */
}
@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
  /* Normal style */
}

@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  /* Light weight */
  font-style: normal;
  /* Normal style */
}

* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  font-family: "Fixel", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  margin: 0;
  width: 1080px;
  height: 1920px;
}

ul,
li,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  // padding-top: 50px;
  display: flex;
  width: 100%;

  position: relative;
}

.cart-container,
.products-container {
  flex-direction: column;
}

.clicker {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-product-item-img {
  width: 300px;
}

.filter-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/* CSS */

//CART
.cart-product-details {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 15px;
}

.cart-product-item {
  display: flex;
  width: 100%;
  background: antiquewhite;
}

.cart-list {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.qr-wrapper,
.receipt-container {
  height: 100%;
}
