@import "./styles/header";
@import "./styles/products";
@import "./styles/categories";
@import "./styles/footer";
@import "./styles/searchlist";
@import "./styles/idle";
@import "./styles/track";
@import "./styles/subcategories";
@import "./styles/cart";
@import "./styles/success";
@import "./styles/notify";
@import "./styles/reciept";


@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;

  font-style: normal;
}
@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  /* Bold weight */
  font-style: normal;
  /* Normal style */
}
@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  /* Bold weight */
  font-style: normal;
  /* Normal style */
}
@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
  /* Normal style */
}

@font-face {
  font-family: "Fixel";
  src: url("../public/fonts/FixelDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  /* Light weight */
  font-style: normal;
  /* Normal style */
}
:root{
  --text-color-main: #292929;
  --main-color-yellow: #ffbc0d;
}
*, ::after, ::before {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  font-family: "Fixel", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  margin: 0;
  width: 1080px;
  height: 1920px;
}

ul,
li,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.no-terminal-cover{
  position: absolute;
  z-index: 9999;
  inset: 0;
  pointer-events: none;
  backdrop-filter: blur(5px) grayscale(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.loader-text-wrap{
  background-color: #fff;
  padding: 28px;
  border-radius: 28px;
  border: 1px solid #0000004c;
}
.loader-text{
  font-size: 38px;
  text-transform: uppercase;
}
.container {
  position: relative;

  display: flex;
  width: 100%;
height: 100%;
  position: relative;
}




.clicker {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}



.filter-list {
  display: flex;
  // gap: 10px;
  flex-direction: column;
}

/* CSS */


.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.error-wrapper{
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px) grayscale(70%);
  display: none;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.error-visible{
  display: flex;
}

.error-text-container{
  width: 800px;
  aspect-ratio: 1;
  border-radius: 50%;
  // background: linear-gradient(122deg, #FF6A14 50%, #EF9E00 92.79%);
  background: var(--main-color-yellow);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  & h1{
    text-align: center;
  }
}
//To show react-custom-scrollbars
::-webkit-scrollbar {
  visibility: hidden;
}
.track-vertical{
  display: block;
}